* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  padding: 0 20px;
}

.deck-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.deck {
  border: 1px solid grey;
  margin-bottom: 20px;
  padding: 10px;
  margin-top: 20px;
}

.deck .card {
  border: 1px solid grey;
  margin-bottom: 10px;
  padding: 5px 7px 8px;
}

.deck-tit {
  margin-bottom: 10px;
  font-size: 18px;
}

.card-tit {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 9px;
}

.card-quest {
  margin-bottom: 7px;
}

.remove-card {
  cursor: pointer;
  padding: 2px 5px;
  background: #ff5f5f7d;
  border: none;
  font-size: 12px;
}

.choose_deck_f {
  padding: 10px;
  border: 1px solid grey;
  margin-bottom: 10px;
  margin-top: 10px;
}

.choose_deck_f-select_wr {
  padding: 10px 0;
}

.choose_deck_f button {
  border: none;
  background-color: #37b564ad;
  cursor: pointer;
  padding: 4px 9px;
  font-size: 12px;
}

.show-answer-but {
  border: none;
  background-color: #727272ad;
  cursor: pointer;
  padding: 4px 9px;
  font-size: 12px;
}

.card-answ {
  margin-bottom: 10px;
}

.card-answ[data-display_status="hide"], .deck-rem[data-display_status="hide"], .card[data-display_status="hide"] {
  display: none;
}
.card-answ[data-display_status="show"], .deck-rem[data-display_status="show"], .card[data-display_status="show"] {
  display: block;
}